:root {
    --bs-primary: #c7ebf0;
    --bs-secondary: #5d7e83;
  
    --bs-body-font-family: "Nunito Sans", sans-serif;
    /* "Raleway", sans-serif; */
  }
  
  body,
  html {
    background-color: #c7ebf0;
  }
  
  .flexi {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* vaalea laatikko kuvien ja tekstin taustalla */
  .form-group {
    font-size: 17px;
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: white;
    padding: 50px 30px 30px;
    font-family: var(--bs-body-font-family);
    text-align: center;
    min-height: 900px;
    min-width: 200px;
    border-radius: 30px;
  }
  
  /* logon placeholder */
  .teksti2 {
    position: flex;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    font-size: 40px;
    /* background-color: #5d7e83; */
    padding: 50px 12px;
    font-family: var(--bs-body-font-family);
    text-align: center;
    height: 180px;
    border-radius: 30px;
  }
  /* vaalean laatikon otsikko */
  .h2,
  h2 {
    font-size: 30px;
    color: black;
    letter-spacing: 0.5px;
  }
  
  .h4,
  h4 {
    font-size: 17px;
    color: #c7ebf0;
    letter-spacing: 0.5px;
  }
  
  .btn-light {
    color: #000;
    background-color: #c7ebf0;
    border-radius: 9px;
    border: none;
  }
  .btn-light:hover {
    color: #000;
    background-color: #a5c8ce;
    border-radius: 9px;
  }
  
  @media screen and (max-width: 800px) {
    .col-8 {
      width: 50%;
    }
  }

 li {
     list-style: none;
     text-align: center;
 }

 .form-group li a {
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 1px;
    color: #435a5e;
  }

  /* kuvien maksimikoko */
  .naamalaatikko img {
    /*max-width: 230px;*/
    max-height: 230px;
       
}
 /* kuvien asettuminen vaaleaan laatikkoon */
.kuva {
  float: left;
  min-width: 50%;
}
/* tiimin esittelytekstin asettuminen vaaleaan laatikkoon */
.esittelyteksti {
  min-width: 50%;
  float: left;
}

/* responsiivisuus eri näyttökokojen välillä */
@media screen and (max-width: 1000px) {
  .kuva {
    float: none;
    min-width: 150px;
  }
  .form-group {
    min-height: 2800px;
  }
}

@media screen and (max-width: 1300px) {
  .kuva {
    float: none;
    width: 100%;
  }
  .form-group {
    min-height: 2000px;
  }
}

@media screen and (max-width: 630px) {
  .naamalaatikko {
    width: 70%;
    margin: auto;
  }
  .form-group {
    font-size: 17px;
    position: static;
    min-height: 1800px;
    min-width: 200px;
  }
  .naamalaatikko img {
    width: 100%;
    max-width: 230px;
  }
  h2 {
    font-size: medium;
  }
}

/* horisontaalisen scrollin poistaminen */
.boksi {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

