:root {
  --bs-primary: #c7ebf0;
  --bs-secondary: #5d7e83;

  --bs-body-font-family: "Nunito Sans", sans-serif;
  /* "Raleway", sans-serif; */
}

body,
html {
  background-color: #c7ebf0;
}

.flexi {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 5px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #a5c5c9;
  border-color: #a5c5c9;
  opacity: 0.8;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0;
}

.laatikot {
  background-color: #c7ebf0;
  color: white;
  display: flex;
}

.laatikko1 {
  background-color: #c7ebf0;
  padding-top: 10px;
}

.laatikko2 {
  background-color: #c7ebf0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.teksti1 {
  font-size: 17px;
  background-color: #5d7e83;
  padding: 50px 12px;
  font-family: var(--bs-body-font-family);
  text-align: center;
  height: 180px;
  border-radius: 30px;
}

.teksti2 {
  font-size: 17px;
  background-color: #5d7e83;
  padding: 50px 12px;
  font-family: var(--bs-body-font-family);
  text-align: center;
  height: 180px;
  border-radius: 30px;
}

.h2,
h2 {
  color: #c7ebf0;
  letter-spacing: 0.5px;
}

.h4,
h4 {
  color: #c7ebf0;
  letter-spacing: 0.5px;
}
.h3,
h3 {
  color: #c7ebf0;
  letter-spacing: 0.5px;
}

.btn-light {
  color: #000;
  background-color: #c7ebf0;
  border-radius: 9px;
  border: none;
}
.btn-light:hover {
  color: #000;
  background-color: #a5c8ce;
  border-radius: 9px;
}

@media screen and (max-width: 800px) {
  .col-6 {
    width: 100%;
  }
}
