#left_col{
    background-color:  #80c4df;
    
}
#right_col{
    background-color: #c7ebf0;
}
.btn-color {
    
    background-color: #a8e1e9;
    border-radius: 9px;
    
  }
.btn-color:hover{
    background-color: #83b8c0;
    

}


#tallenna_muutokset{
    border-radius: 15px;
}

#vaihda_salasana{
    border-radius: 15px;
}