:root {
  --bs-primary: rgb(199, 235, 240);
  --bs-background: rgb(218, 255, 253);

  --bs-body-font-family: "Nunito Sans", sans-serif;
}

body,
html {
  background-color: var(--bs-background);
}

.flexi {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
}

.btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(165, 197, 201);
  border-color: rgb(165, 197, 201);
  opacity: 0.8;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0;
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0;
}

.laatikot {
  color: white;
  display: flex;
  justify-content: space-around;
}

.teksti1 {
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  padding: 50px 12px;
  font-family: var(--bs-body-font-family);
  text-align: center;
  height: 280px;
  border-radius: 30px;
}

.teksti2 {
  font-size: 17px;
  background-color: #5d7e83;
  padding: 50px 12px;
  font-family: var(--bs-body-font-family);
  text-align: center;
  height: 280px;
  border-radius: 30px;
}

.h2,
h2 {
  font-size: 26px;
  color: rgb(10, 16, 69);
  letter-spacing: 0.5px;
}

#checkHrv h2 {
  margin-top: 1.5rem;
  font-weight: 700;
}

.h4,
h4 {
  font-size: 26px;
  color: rgb(10, 16, 69);
  letter-spacing: 0.5px;
}

p {
  color: rgb(10, 16, 69);
  letter-spacing: 0.5px;
  margin-top: 4rem;
  font-weight: 500;
}

.laatikko2 p {
  margin-top: 5rem;
}

.btn-light {
  color: rgb(10, 16, 69);
  background-color: rgb(199, 235, 240);
  border-radius: 9px;
  border: none;
  margin: 0.5rem 0.9rem;
  padding: 0.6rem 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-light:hover {
  color: rgb(124, 199, 211);
  background-color: rgb(165, 200, 206);
  border-radius: 9px;
}

@media screen and (max-width: 800px) {
  col-md-4 {
    width: 100%;
  }
}
