:root {
  --bs-blue: rgb(100, 179, 210);
  --bs-footer-links: rgb(10, 16, 69);
  --bs-footer-links-hover: rgb(46, 62, 65);
  --bs-body-font-family: "Nunito Sans", sans-serif;
}

.footer-content {
  padding: 30px;
  background-color: var(--bs-blue);
  margin-top: auto;
  bottom: 0;
  font-family: var(--bs-body-font-family);
}

.footer-content ul {
  margin-top: 0;
  list-style: none;
  text-align: center;
  font-weight: 600;
  line-height: 1.6;
}

.footer-content ul a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--bs-footer-links);
}

.footer-content a:hover {
  color: var(--bs-footer-links-hover);
}

.footer-content ul li {
  display: inline-block;
  padding: 0 15px;
}

.copyright {
  color: rgb(10, 16, 69);
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
