
@media (max-width: 1300px) { 
    .tausta{
        height: 350px;
    }
 }
 @media (max-width: 1200px) { 
    .tausta{
        height: 380px;
    }
 }


 @media (max-width: 990px) { 
    .tausta{
        height: 450px;
    }
 }

 @media (max-width: 768px) { 
    .tausta{
        height: 350px;
    }
 }

 @media (max-width: 575px) { 
    .tausta{
        height: 400px;
    }
 }

 @media (max-width: 490px) { 
    .tausta{
        height: 400px;
    }
 }

 

 @media (max-width: 435px) { 
    .tausta{
        height: 450px;
    }
 }
 @media (max-width: 369px) { 
    .tausta{
        height: 600px;
    }
 }
 @media (max-width: 301px) { 
    .tausta{
        height: 800px;
    }
 }

.tausta{
    background-color: white;
    text-align: center;
    border-radius: 30px;
    font-family: var(--bs-body-font-family);
    
       
}




